<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SAP Cross Collaboration</title>
	{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'adminapps/css/cui-standard.min.css' %}">
</head>
<body class="cui">
    <div class="content-fluid">
        <main>
            <header class="header">
                <div class="header-bar container">
                    <a class="btn btn--small btn--icon toggle-menu" id="toggle" href="#menu">
                        <span class="icon-list-menu"></span>
                    </a>
					<div id="menu">
						<ul>
							<li class="toggleMenu"><a href="{% url 'index' %}" class="linkToggle">Admin Home</li></a>
							<li class="toggleMenu"><a href="{% url 'topic' %}" class="linkToggle">Topics</li></a>
							<li class="toggleMenu"><a href="{% url 'team' %}" class="linkToggle">Teams</a></li>
							<li class="toggleMenu"><a href="{% url 'timeslot' %}" class="linkToggle">Timeslots</a></li>
							<li class="toggleMenu"><a href="{%url 'assignment' %}" class="linkToggle">Assignments</a></li>
						</ul>
					</div>
                    <a class="header-bar__logo" href="{% url 'index' %}">
                        <span class="icon-cisco"></span>
                    </a>
					
                    <div class="header-bar__main">
					<ul class="breadcrumb">
						<li><a href="{% url 'index' %}">Admin Home</a></li>
						<li><span>Topics</span></li>
					</ul>
                        <div class="header-heading">
                            <h1 class="page-title">SAP Cross Collaboration Platform</h1>
                        </div>
                    </div>
					<form>
						<div class="form-group">
							<div class="form-group__text select">
								<select name="select2">
									<option value="0" selected>Spring 2018</option>
								</select>
								<label for="select2">Select Cohort</label>
							</div>
						</div>
					</form>
                </div>
            </header>
            <div class="hero hero--blue">
                <div class="container">
					
                </div>
            </div>
            <div class="content">
                <div class="container">
					<div>
						<br>
						<h4>Add Topics</h4>
						<hr>
						<form>
							<div class="form-group">
								<br>
								<div class="form-group__text">
									<input id="topics" type="text" placeholder="Add topic here.">
									<label for="topics"></label>
								</div>
							</div>
							<br>
							<button class="btn btn--primary">Add</button>
						</form>
						<br>
					</div>
					
					<h4>Current Topics</h4>
					<hr>
					Check the box next to any topic to delete and click the "delete" button.
					<br>
					<br>
					<table class="table table--bordered table--highlight">
						<tbody>
							<tr>
								<td>
									<label class="checkbox">
										<input type="checkbox"/>
										<span class="checkbox__input"></span>
									</label>
								</td>
								<td>Love</td>
							</tr>
							<tr class="active">
								<td>
									<label class="checkbox">
										<input type="checkbox" checked>
										<span class="checkbox__input"></span>
									</label>
								</td>
								<td>Money</td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input type="checkbox"/>
										<span class="checkbox__input"></span>
									</label>
								</td>
								<td>Happiness</td>
							</tr>
						</tbody>
					</table>
					
					<br>
					
					<button class="btn btn--primary">Delete</button>
					
                    <div class="row">
					
						<div class="col-md-3">

						</div>

                        <div class="col-md-3" >
                            
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                          
                        </div>	
                    </div> 
				</div>
				<!-- makes footer unsticky to be within the container div -->
				<footer class="footer footer--new">
					<div class="footer__links">
						<ul class="list">
							<li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
							<li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
							<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/terms_condition.html" target="_blank">Terms & Conditions</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html" target="_blank">Privacy Statement</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html#cookies" target="_blank">Cookie Policy</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/trademark.html" target="_blank">Trademarks</a></li>
						</ul>
					</div>
					<div class="footer__legal">
						<div class="footer__logo">
							<a href="http://www.cisco.com" target="_blank">
								<span class="icon-cisco"></span>
							</a>
						</div>
						<div class="footer__copyright">
							<div>Copyright &copy; 2017 Cisco Systems Inc.</div>
							<div>All rights reserved.</div>
						</div>
					</div>
				</footer>
			</div>
			
        </main>
    </div>
	
	<script>
		var theToggle = document.getElementById('toggle');

		// based on Todd Motto functions
		// https://toddmotto.com/labs/reusable-js/

		// hasClass
		function hasClass(elem, className) {
			return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
		}
		// addClass
		function addClass(elem, className) {
			if (!hasClass(elem, className)) {
				elem.className += ' ' + className;
			}
		}
		// removeClass
		function removeClass(elem, className) {
			var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
			if (hasClass(elem, className)) {
				while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
					newClass = newClass.replace(' ' + className + ' ', ' ');
				}
				elem.className = newClass.replace(/^\s+|\s+$/g, '');
			}
		}
		// toggleClass
		function toggleClass(elem, className) {
			var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
			if (hasClass(elem, className)) {
				while (newClass.indexOf(" " + className + " ") >= 0 ) {
					newClass = newClass.replace( " " + className + " " , " " );
				}
				elem.className = newClass.replace(/^\s+|\s+$/g, '');
			} else {
				elem.className += ' ' + className;
			}
		}

		theToggle.onclick = function() {
		   toggleClass(this, 'on');
		   return false;
		}
	</script>
</body>
</html>