<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SAP Cross Collaboration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'teamapp\css\cui-standard.min.css' %}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body class="cui">
    <div class="content-fluid">
        <main>
            <header class="header">
                <div class="header-bar container">
                    <a class="btn btn--small btn--icon toggle-menu" id="toggle" href="#menu">
                        <span class="icon-list-menu"></span>
                    </a>
					<div id="menu">
						<ul>
							<li class="toggleMenu"><a href="team-menu.html" class="linkToggle">Team Home</li></a>
							<li class="toggleMenu"><a href="team-member.html" class="linkToggle">Members</li></a>
							<li class="toggleMenu"><a href="team-topic.html" class="linkToggle">Topics</a></li>
							<li class="toggleMenu"><a href="team-assignment.html" class="linkToggle">Assignments</a></li>
							<li class="toggleMenu"><a href="team-score.html" class="linkToggle">Scores</a></li>
						</ul>
					</div>
                    <a class="header-bar__logo" href="team-menu.html">
                        <span class="icon-cisco"></span>
                    </a>
					
                    <div class="header-bar__main">
					<ul class="breadcrumb">
						<li><a href="admin-home.html">Team Home</a></li>
						<li><span>Assignments</span></li>
					</ul>
                        <div class="header-heading">
                            <h1 class="page-title">SAP Cross Collaboration Platform</h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="hero hero--blue">
                <div class="container">
					
                </div>
            </div>
            <div class="content">
                <div class="container">					
					<h4>Your Team Assignment</h4>
					<hr>
					<br>
					<br>
					
					
					<br>
					<br>
					<br>
				</div>
				<!-- makes footer unsticky to be within the container div -->
				<footer class="footer footer--new">
					<div class="footer__links">
						<ul class="list">
							<li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
							<li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
							<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/terms_condition.html" target="_blank">Terms & Conditions</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html" target="_blank">Privacy Statement</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html#cookies" target="_blank">Cookie Policy</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/trademark.html" target="_blank">Trademarks</a></li>
						</ul>
					</div>
					<div class="footer__legal">
						<div class="footer__logo">
							<a href="http://www.cisco.com" target="_blank">
								<span class="icon-cisco"></span>
							</a>
						</div>
						<div class="footer__copyright">
							<div>Copyright &copy; 2017 Cisco Systems Inc.</div>
							<div>All rights reserved.</div>
						</div>
					</div>
				</footer>
			</div>
        </main>
    </div>
	
	<script>
		var theToggle = document.getElementById('toggle');

		// based on Todd Motto functions
		// https://toddmotto.com/labs/reusable-js/

		// hasClass
		function hasClass(elem, className) {
			return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
		}
		// addClass
		function addClass(elem, className) {
			if (!hasClass(elem, className)) {
				elem.className += ' ' + className;
			}
		}
		// removeClass
		function removeClass(elem, className) {
			var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
			if (hasClass(elem, className)) {
				while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
					newClass = newClass.replace(' ' + className + ' ', ' ');
				}
				elem.className = newClass.replace(/^\s+|\s+$/g, '');
			}
		}
		// toggleClass
		function toggleClass(elem, className) {
			var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
			if (hasClass(elem, className)) {
				while (newClass.indexOf(" " + className + " ") >= 0 ) {
					newClass = newClass.replace( " " + className + " " , " " );
				}
				elem.className = newClass.replace(/^\s+|\s+$/g, '');
			} else {
				elem.className += ' ' + className;
			}
		}

		theToggle.onclick = function() {
		   toggleClass(this, 'on');
		   return false;
		}
		
		var $tabs = $('#table-draggable2')
		$("tbody.connectedSortable")
			.sortable({
				connectWith: ".connectedSortable",
				items: "> tr:not(:first)",
				appendTo: $tabs,
				helper: "clone",
				zIndex: 999990
			})
			.disableSelection();
		var $tab_items = $(".nav-tabs > li", $tabs).droppable({
			accept: ".connectedSortable tr",
			hoverClass: "ui-state-hover",
			drop: function (event, ui) {
				return false;
			}
		});$(document).ready(function() {
					$("#tblData").tableDnD();
				});
				
				$("#tblData").tableDnD({
				   onDragClass: "myDragClass"
				});
				
				var iCnt = 1; 
				$("#tblData tr").each(function() {   
					var id = "tr" + parseInt(iCnt);   
					$(this).attr("id", id);   
					iCnt++; 
				});
	</script>
</body>
</html>
