<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SAP Cross Collaboration</title>
    <link rel="stylesheet" href="css/cui-standard.min.css">
</head>
<body class="cui">
    <div class="content-fluid">
        <main>
            <header class="header">
                <div class="header-bar container">
					<div id="menu">
						<ul>
							<li class="toggleMenu"><a href="admin-topic.html" class="linkToggle">Topics</li></a>
							<li class="toggleMenu"><a href="admin-team.html" class="linkToggle">Teams</a></li>
							<li class="toggleMenu"><a href="admin-timeslot.html" class="linkToggle">Timeslots</a></li>
							<li class="toggleMenu"><a href="admin-assignment.html" class="linkToggle">Assignments</a></li>
						</ul>
					</div>
                    <a class="header-bar__logo">
                        <span class="icon-cisco"></span>
                    </a>
                    <div class="header-bar__main">
                        <div class="header-heading">
                            <h1 class="page-title">SAP Cross Collaboration Platform</h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="hero hero--blue">
                <div class="container">
					
                </div>
            </div>
            <div class="content">
                <div class="container">
					<br>
					<center><h1>Register</h1></center><br><br>
					<center>Username: <input></input></center><br>
					
					<center>Email: <input></input></center><br>
				
					<center>Password: <input></input></center><br>
					<center>Confirm Password: <input></input></center>
					<br><br>
					<center><button style="padding: 10px">Submit</button></center>
					<br><br>
				</div>
				<!-- makes footer unsticky to be within the container div -->
				<footer class="footer footer--new">
					<div class="footer__links">
						<ul class="list">
							<li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
							<li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
							<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/terms_condition.html" target="_blank">Terms & Conditions</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html" target="_blank">Privacy Statement</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html#cookies" target="_blank">Cookie Policy</a></li>
							<li><a href="http://www.cisco.com/web/siteassets/legal/trademark.html" target="_blank">Trademarks</a></li>
						</ul>
					</div>
					<div class="footer__legal">
						<div class="footer__logo">
							<a href="http://www.cisco.com" target="_blank">
								<span class="icon-cisco"></span>
							</a>
						</div>
						<div class="footer__copyright">
							<div>Copyright &copy; 2017 Cisco Systems Inc.</div>
							<div>All rights reserved.</div>
						</div>
					</div>
				</footer>
			</div>
			
        </main>
    </div>
	
	<script>
		var theToggle = document.getElementById('toggle');

		// based on Todd Motto functions
		// https://toddmotto.com/labs/reusable-js/

		// hasClass
		function hasClass(elem, className) {
			return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
		}
		// addClass
		function addClass(elem, className) {
			if (!hasClass(elem, className)) {
				elem.className += ' ' + className;
			}
		}
		// removeClass
		function removeClass(elem, className) {
			var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ') + ' ';
			if (hasClass(elem, className)) {
				while (newClass.indexOf(' ' + className + ' ') >= 0 ) {
					newClass = newClass.replace(' ' + className + ' ', ' ');
				}
				elem.className = newClass.replace(/^\s+|\s+$/g, '');
			}
		}
		// toggleClass
		function toggleClass(elem, className) {
			var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
			if (hasClass(elem, className)) {
				while (newClass.indexOf(" " + className + " ") >= 0 ) {
					newClass = newClass.replace( " " + className + " " , " " );
				}
				elem.className = newClass.replace(/^\s+|\s+$/g, '');
			} else {
				elem.className += ' ' + className;
			}
		}

		theToggle.onclick = function() {
		   toggleClass(this, 'on');
		   return false;
		}
	</script>
</body>
</html>
